<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include('header') %>
    <!-- Include header -->

    <main>
      <section id="about-me">
        <div class="intro-content">
          <div class="intro-text">
            <h2>Hello, I'm <span class="name">Vamshidhar Kandi</span>!</h2>
            <h3>Welcome to my personal space!</h3>
            <p>
              As a passionate MERN Full-Stack Developer, I specialize in
              creating dynamic and scalable web applications using MySQL,
              Express, ReactJS, and NodeJS. With a solid foundation in both
              front-end and back-end development, I excel at crafting intuitive
              user experiences while ensuring robust server-side functionality.
              My strong analytical and problem-solving skills enable me to
              swiftly identify and resolve issues. I am a self-motivated
              professional with excellent communication and interpersonal
              skills, always eager to learn new technologies and techniques to
              further enhance my development expertise.
            </p>
          </div>
          <div class="intro-image">
            <img
              src="/images/taj_short.jpeg"
              alt="Vamshidhar Kandi"
              class="profile-pic"
            />
          </div>
        </div>
      </section>

      <section id="technologies">
        <h2>Technologies I Know</h2>
        <div class="tech-icons">
          <img
            src="https://img.icons8.com/color/96/000000/html-5.png"
            alt="HTML"
            class="tech-icon"
          />
          <img
            src="https://img.icons8.com/color/96/000000/css3.png"
            alt="CSS"
            class="tech-icon"
          />
          <img
            src="https://img.icons8.com/color/96/000000/javascript.png"
            alt="JavaScript"
            class="tech-icon"
          />
          <img
            src="https://img.icons8.com/color/96/000000/bootstrap.png"
            alt="Bootstrap"
            class="tech-icon"
          />
          <img
            src="https://img.icons8.com/plasticine/96/000000/react.png"
            alt="React"
            class="tech-icon"
          />
          <img
            src="https://img.icons8.com/color/96/000000/nodejs.png"
            alt="node.js"
            class="tech-icon"
          />
        </div>
      </section>
    </main>

    <%- include('footer') %>
    <!-- Include footer -->
  </body>
</html>
