<header>
    <h1>
        <span class="logo">VK</span>
        <a href="/">Vamshidhar</a>
    </h1>
    <nav>
        <ul>
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/about"><i class="fas fa-user"></i> About Me</a></li>
            <li><a href="/contact"><i class="fas fa-envelope"></i> Contact Me</a></li>
        </ul>
    </nav>
</header>
