<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blog</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include('header') %>
    <!-- Include your header file -->

    <main>
      <section id="introduction">
        <div class="intro-content">
          <div class="intro-text">
            <h3>Hello!</h3>
            <h2 class="name">I'm Vamshidhar Kandi</h2>
            <p>
              As a skilled MERN Full Stack Developer proficient in React,
              Node.js, Express, and MySQL, I am dedicated to creating efficient
              and user-friendly web applications. My passion for technology
              drives me to explore new tools and techniques to deliver impactful
              projects. In my spare time, I enjoy reading, learning, and sharing
              my experiences through this blog. Feel free to browse my posts and
              connect with me!
            </p>
            <p>Feel free to browse through my posts and connect with me!</p>
          </div>
          <div class="intro-image">
            <img src="/images/portfolio.svg" alt="Web Development" />
          </div>
        </div>
      </section>
    </main>

    <%- include('footer') %>
    <!-- Include your footer file if you have one -->
  </body>
</html>
