/* Contact Page */
.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: var(--bg-color);
  transition: background 0.3s ease;
}

/* Contact text section */
.contactText {
  flex: 1;
  margin-right: 20px;
  font-size: 1.2em;
  text-align: center;
  color: var(--text-color);
}

.contactText h3 {
  margin-top: 15px;
}

/* Highlight text */
.highlight {
  color: var(--link-color);
}

/* Email link */
.emailLink {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.3s ease-in-out;
}

.emailLink:hover {
  text-decoration: underline;
  color: var(--link-hover);
}

/* Contact image */
.contactImage {
  flex: 1;
  max-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactImage img {
  width: 85%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 10px var(--button-hover-shadow);
}

/* Responsive */
@media (max-width: 768px) {
  .contactContainer {
    flex-direction: column;
    text-align: center;
  }

  .contactText {
    margin-right: 0;
  }

  .contactImage {
    max-width: 100%;
    margin-top: 20px;
  }

  .contactImage img {
    width: 75%;
    max-width: 350px;
  }
}
