.header {
  background-color: var(--header-bg);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--link-color);
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--bg-color);
  transition: background-color 0.3s, transform 0.3s;
}

.logo:hover {
  background-color: var(--link-hover);
  transform: scale(1.1);
}

.siteName {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.siteName:hover {
  color: var(--link-color);
}

/* Navigation */
.navList {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navList li {
  margin: 0 10px;
}

.navLink {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2em;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.navLink:hover {
  background-color: var(--link-color);
  color: var(--bg-color);
  border-radius: 5px;
}

/* Active Link Styling */
.activeNavLink {
  color: var(--link-color);
  font-weight: bold;
}

/* Theme Icon */
.themeIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
